* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #edc00d;
}

.logo {
    display: block;
    margin: auto;
    height: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.about-title {
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-top: 10px;
}

.about-article {
    background-color: #333;
    columns: 1;
    column-gap: 10px;
    margin-top: 20px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #edc00d;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    max-width: 1300px;
    max-height: auto;
}

.about {

    color: antiquewhite;
    font-size: 30px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 40px;
}

header {
    background-color: #333;
    color: edc00d;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    display: block;
    color: #edc00d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
main {
    background-color: #333;
    color: #edc00d;
}

.welcome-title {
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

section {
    background-color: #333;
   color: #edc00d; 
}

h2 {
    color: antiquewhite;
    margin-top: 30px;
}

.video-container {
    top: -10px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
}

.sign-up {
    color: #edc00d;
    background-color: #333;
    font-family: Impact, haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-color: #edc00d;
    padding: 40px;
}

.SocialMediaImage {
    display: block;
    margin: auto;
    height: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.SocialMedia {
    columns: 2;
    column-gap: 10px;
    width: 600px;
    color: #edc00d;
    background-color: #333;
    font-family: Impact, haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-color: #edc00d;
    padding: 10px;
}

.driver-list {
    font-size: 45px;
    color: whitesmoke;
    background-color: #333;
    columns: 1;
    column-gap: 10px;
    margin-top: 20px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #edc00d;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    max-width: 1300px;
    max-height: auto;
    list-style: none;
    padding-left: 0;
}

.driver-number {
    margin-right: 10px;
    color: #edc00d;
    font-size: 60px;
}

footer {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    margin-bottom: 0%;
    background-color: #333;
    color: #edc00d;
    text-align: center;
}



